body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo {
    width: 25%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.result-container {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    min-width: 430px; /* Adjusted to ensure the container is wide enough */
    min-height: 220px; /* Adjusted to ensure the container is tall enough */
}

.qr-code {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0; /* Light gray background for placeholder */
    text-align: center;
    line-height: 200px; /* Center placeholder text vertically */
}

.qr-code img {
    width: 200px;
    height: 200px;
}

.label-info {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px; /* Ensures the label info section is wide enough */
}

.label-info p {
    margin: 5px 0;
}

.label-info span.label-title {
    font-weight: bold; /* Make label titles bold */
}

.print-button {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.form-container select {
    margin-top: 10px;
}

.notification {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}
