<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chemical Sample Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<img src="/images/logo.png" class="logo" alt="Logo">

<div class="form-container">
    <form id="chemicalForm" action="/generate" method="post">
        <label for="chemical">Select Chemical:</label>
        <select id="chemical" name="chemicalName" onchange="this.form.submit()">
            <option value="" disabled selected>Select a chemical</option>
            <option th:each="chemical : ${chemicals}" th:value="${chemical}" th:text="${chemical}"></option>
        </select>
    </form>
</div>

<div class="page-title">Sample Analysis Label Creator</div>
<div class="result-title">Print Preview:</div>
<div class="result-container">
    <div class="label-info">
        <p><span class="label-title">Chemical Name:</span> <span th:text="${sample.chemicalName}"></span></p>
        <p><span class="label-title">Time:</span> <span th:text="${sample.time}"></span></p>
        <p><span class="label-title">Date:</span> <span th:text="${sample.date}"></span></p>
        <p><span class="label-title">SampleId:</span> <span th:text="${sample.sampleId}"></span></p>
    </div>
    <div class="qr-code">
        <img th:if="${sample.qrCode != ''}" th:src="'data:image/png;base64,' + ${sample.qrCode}" alt="QR Code">
    </div>
</div>
<button class="print-button" onclick="window.print()">Print Label</button>
<div id="notification" class="notification"></div>
</body>
</html>
